include pyproject.toml
include README.md
include LICENSE
include requirements.txt


# Include data files (if needed)
# recursive-include data *

# Include documentation (if needed)
# recursive-include docs *
